[Unit]
Description=plane.watch feeder client
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/pw-feeder --command --line --args

[Install]
WantedBy=multi-user.target