[Unit]
Description=plane.watch feeder client
Documentation=https://github.com/plane-watch/pw-feeder
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pw-feeder
Group=pw-feeder
EnvironmentFile=/etc/pw-feeder/pw-feeder.env
ExecStart=/usr/local/bin/pw-feeder
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
