# Copyright (C) 2024 Plane Watch
# SPDX-License-Identifier: GPL-3.0-or-later
#
# This file is part of pw-feeder.
#
# pw-feeder is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# pw-feeder is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with pw-feeder. If not, see <https://www.gnu.org/licenses/>.

[Unit]
Description=plane.watch feeder client
Documentation=https://github.com/plane-watch/pw-feeder
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pw-feeder
Group=pw-feeder
EnvironmentFile=/etc/pw-feeder/pw-feeder.env
ExecStart=/usr/local/bin/pw-feeder
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
